:root {
    --title-subtitle-color:#2E2F42;
    --text-color:#434455;
    --body-fon:#FFFFFF; 
    --logo-color:#4d5ae5;
    --footer-logo-color:#F4F4FD;
    --button-color:#404BBF;
    --border-color:#E7E9FC;
    --color-shadow: #8e8f99;
    --bg-color-one: #f4f4fd;
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body{
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background-color: var(--body-fon);
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;

}

a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

section {
    padding-top: 96px;
    padding-bottom: 96px;
}

.container {
    max-width: 428px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    /* width: 1158px;
    padding: 0 15px;
    margin: 0 auto; */
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

input,
button,
label {
    font-family: inherit;
    color: currentColor;
}

/*-------------------------------------HEADER---------------------------------- */
.header {
    border-bottom: 1px solid var(--border-color);
    padding: 24px 0 24px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-menu {
    /* display: flex;
    gap: 40px; */
    display: none;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    position: relative;
}

.header-menu {
    text-decoration: none;
    
}

.header-logo{
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color:var(--logo-color);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;

}

.span {
    text-transform: uppercase;
    color:var(--title-subtitle-color);
}
.footer-span{
    text-transform: uppercase;
    color:var(--footer-logo-color)
}
.header-menu-link {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color:var(--title-subtitle-color);
    text-decoration: none;
    list-style: none;
    padding: 24px 0;
    transition: color var(--transition);
}

.header-menu-link:hover,
.header-menu-link:focus {
    color:var(--button-color);
}

.active {
    color: var(--button-color);
}

.header-menu-link.active::after {
    content: '';
    width: 100%;
    height: 4px;
    color: var(--button-color);
    background-color: var(--button-color);
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
}

.header-adress-link {
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color:var(--text-color);
    transition: color var(--transition);
}
.header-adress-link:hover,
.header-adress-link:focus {
    color:var(--button-color);
}

.adress {
    font-style: normal;
}
.header-adress {
    /* display: flex;
    gap: 40px; */
    display: none;
}

.header-adress-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.mobile-menu {
    position: absolute;
    right: 16px;
    width: 32px;
    height: 22px;
}
.mobile-menu-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.mobile-menu-icon {
    stroke: var(--title-subtitle-color);
    pointer-events: none;
}

/* ----------------------------MOBILE MENU--------------------------------- */

.mobile-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 16px;
    width: 32px;
    height: 22px;
}

.menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 22px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

.mobile-menu-icon {
    stroke: var(--title-subtitle-color);
    transition: stroke var(--transition);
}

.menu-toggle:hover .mobile-menu-icon,
.menu-toggle:focus .mobile-menu-icon {
    stroke: var(--button-color);
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 80px 35px 40px 40px;
    background-color: #ffffff;
    z-index: 999;
    transform: translateX(100%);
    transition: transform var(--transition);
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.menu-list-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 40px;
}

.menu-list-link {
    color: var(--title-subtitle-color);
    transition: color var(--transition);
}

.menu-list-link:hover,
.menu-list-link:focus {
    color: var(--button-color);
    outline: none;
}

.menu-contact {
    font-style: normal;
}

.menu-contact-item {
    margin-bottom: 40px;
}

.menu-contact-tel {
    color: var(--logo-color);
    transition: color var(--transition);
}

.menu-contact-email {
    color: var(--text-color);
    transition: color var(--transition);
}

.menu-contact-tel:hover,
.menu-contact-tel:focus,
.menu-contact-email:hover,
.menu-contact-email:focus {
    color: var(--button-color);

    outline: none;
}

.menu-social {
    max-width: 328px;
    justify-content: space-between;
}


.active-mob {
    color: var(--button-color);
}

/* ----------------------MADAL MOBILE-------------------------------------- */

.backdrop {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity var(--transition), visibility var(--transition);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(1);
    transition: transform var(--transition);
    width: 95vw;
    max-width: 392px;
    min-height: 584px;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 16px;
    padding-top: 72px;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scaleX(0);
}

.modal-btn-close {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 24px;
    height: 24px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--border-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color var(--transition), border var(--transition);
}

.close-icon {
    fill: #2e2f42;
    transition: fill var(--transition);
}

.modal-btn-close:hover,
.modal-btn-close:focus {
    background-color: #404bbf;
    border: none;
}

.modal-btn-close:hover .close-icon,
.modal-btn-close:focus .close-icon {
    fill: #ffffff;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

/* -----------------------------------SECTION-1---------------------------- */
.hero {
   
    /* padding: 188px 0; */
    padding: 112px 0;
    background-image: linear-gradient(to bottom,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)), url(../images/hero-background-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* max-width: 1440px; */
    margin: 0 auto;
}

@media (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero-backgrond-mob@2x.jpg);
    }
}

.hero-container {
    display: flex;
    /* gap: 48px; */
    gap: 72px;
    flex-direction: column;
    align-items: center;
}

.hero-title {
    font-weight: 700;
    /* font-size: 56px; */
    font-size: 36px;
    /* line-height: 1.07; */
    /* letter-spacing: 0.02em; */
    line-height: 1.11;
    letter-spacing: 0.045em;
    color:var(--body-fon);
    text-align: center;
    /* max-width: 496px; */
    max-width: 320px;
}

.hero-btn {
    min-width: 169px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:var(--body-fon);
    background:var(--logo-color);
    padding: 16px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    transition: background-color var(--transition);
}

.hero-btn:focus {
    background-color: #404BBF;
}
.hero-btn:hover {
    background:var(--button-color);
}

/* --------------------------------SECTION 2------------------------------ */
.quality-container {
    /* padding: 96px 16px; */
}

.quality-list {
    display: flex;
    /* gap: 24px; */
    flex-wrap: wrap;
}

.quality-icon {
    /* display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: var(--footer-logo-color);
    padding: 24px 100px;
    margin-bottom: 8px;
    border-radius: 4px; */
    display: none;
}


.quality-item {
    /* width: calc((100% - 72px) / 4); */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quality-title {
    /* font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color:var(--title-subtitle-color);
    margin-bottom: 8px; */
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    color: var(--title-subtitle-color);
    line-height: 1.11;
    letter-spacing: 0.045em;
    /* margin-bottom: 8px; */
    margin-bottom: 72px;
}

.quality-text {
    font-weight: 500;
    /* font-size: 16px; */
    line-height: 1.50;
    letter-spacing: 0.02em;
    /* color:var(--text-color); */
    color: var(--text-color);
}

.quality-item:not(:last-child) {
    margin-bottom: 72px;
}

/* --------------------------------SECTION 3-------------------------------- */

.what-doing-section {
    display: none;
}

/* .what-doing-section {
    padding-top: 0;
}

.what-doing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.what-doing-list {
    display: flex;
    gap: 24px;
}

.what-doing-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color:var(--title-subtitle-color);
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
} */

/* --------------------------------SECTION 4---------------------------------- */

.ourteam-section {
    background-color: var(--footer-logo-color);
}

.ourteam-container {
    /* flex-direction: column; */
}

.ourteam-info {
    padding: 32px 0px;
}

.ourteam-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color:var(--title-subtitle-color);
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.ourteam-sub-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color:var(--title-subtitle-color);
    margin-bottom: 8px;
}

.ourteam-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color:var(--text-color);
}

.ourteam-list {
    /* display: flex;
    gap: 24px;
    background-color: #FFFFFF; */

    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;

    /* width: 264px;
    margin: 0 auto; */
}

.ourteam-icons {
    fill: var(--bg-color-one);
}

.ourteam-icons-list {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.ourteam-icons-item {
    width: 40px;
    height: 40px;
}


.ourteam-item-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--logo-color);
    border-radius: 50%;
    height: 100%;
    width: 100%;
    transition: background-color var(--transition);
}  
 

.ourteam-item {
    /* width: calc((100% - 72px) / 4); */
    background: var(--body-fon);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* margin-bottom: 72px; */
}

.ourteam {
    background-color: #F4F4FD;
}


.ourteam-item-link:hover,
.ourteam-item-link:focus {
    background-color: var(--button-color);
}


/* --------------------------------Customers------------------------------------- */
.customers-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
    color: var(--title-subtitle-color);
    margin-bottom: 72px;
}
.customers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    /* gap: 24px; */
    row-gap: 72px;
    align-items: center;
    justify-content: center;
}

.customers-items {
    /* width: calc((100% - 120px) / 6); */
    width: calc((100% - 16px) / 2);
    height: 88px;
}

.customer-item-icon {
    fill: currentColor;
}

.customer-item-link {
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    padding: 16px 32px;
    color: var(--color-shadow);
    justify-content: center;
    align-items: center;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-item-link:hover,
.customer-item-link:focus {
    color: var(--button-color);
    border-color: var(--button-color);
}


/* --------------------------------FOOTER---------------------------------------- */

.footer{
    background-color:var(--title-subtitle-color);
    padding: 96px 0;
}

.footer-container {
    display: flex;
    /* align-items: baseline; */
    flex-direction: column;
    gap: 72px;
}

.footer-logo-box {
    /* margin-right: 120px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 72px;
    max-width: 268px;
    margin: 0 auto;
}

.footer-logo{
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: var(--logo-color);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-text {
    width: 264px;
    line-height: 1.50;
    color:var(--footer-logo-color);
}

.soc-icon {
    fill: var(--bg-color-one);
}

.footer-soc {
  /* margin-right: 80px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.footer-soc-list {
    display: flex;
    gap: 16px;
}

.footer-soc-item {
    width: 40px;
    height: 40px;
}

.footer-soc-link {
    display: flex;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: #31d0aa;
}

.footer-soc-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-soc-icon {
    fill: var(--footer-logo-color);
}

.subscribe-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subscribe-text {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-fon);
    margin-bottom: 16px;
    text-align: center;
}

.subscribe-form {
    display: flex;
    /* gap: 24px; */
    gap: 16px;
    flex-direction: column;
}

.subscribe-input {
    width: 100%;
    height: 40px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--body-fon);
    background-color: transparent;
    /* border: 1px solid var(--body-fon); */
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    outline: transparent;
}

.subscribe-input::placeholder {
    font-size: 12px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    color: var(--bg-color-one);
}

.subscribe-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    /* align-self: flex-end; */
    align-self: center;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    background-color: var(--logo-color);
    font-family: inherit;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--body-fon);
    transition: background-color var(--transition);
}

.subscribe-icon {
    fill: var(--body-fon);
    margin-left: 16px;
}

.subscribe-btn:hover {
    background-color: var(--button-color);
}

/* ---------------------------------MODAL MOBILE----------------------------------------- */

.backdrop {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity var(--transition), visibility var(--transition);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(1);
    transition: transform var(--transition);
    /* width: 408px; */
    min-height: 584px;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 24px;
    padding-top: 72px;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scaleX(0);
}

.modal-btn-close {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 24px;
    height: 24px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--border-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color var(--transition), border var(--transition);
}

.close-icon {
    fill: #2e2f42;
    transition: fill var(--transition);
}

.modal-btn-close:hover,
.modal-btn-close:focus {
    background-color: var(--button-color);
    border: none;
}

.modal-btn-close:hover .close-icon,
.modal-btn-close:focus .close-icon {
    fill: var(--body-fon);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}


/* ---------------------------------MODAL FORM----------------------------------- */

.modal-title {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--title-subtitle-color);
    margin-bottom: 16px;
}

.modal-content {
    margin-bottom: 8px;
}

.input-wrap {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    padding: 8px 16px;
    padding-left: 38px;
    background-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;
    transition: border-color var(--transition);
}

.modal-input-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--color-shadow);
    margin-bottom: 4px;
}

.input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill var(--transition);
}

.modal-input:focus {
    border-color: var(--logo-color);
}

.modal-input:focus+.input-icon {
    fill: var(--logo-color);
}

.modal-comment-box {
    margin-bottom: 16px;
}

.modal-comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: hsla(237, 18%, 22%, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    background-color: transparent;
    resize: none;
    outline: transparent;
    transition: border-color var(--transition);
}

.modal-comment:focus {
    border-color: var(--logo-color);
}

.modal-comment::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #2e2f4266;
}

.modal-comment-check {
    margin-bottom: 24px;
}

.modal-check {
    margin-bottom: 24px;
}

.terms-check-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--color-shadow);
    margin-bottom: 24px;
}

.terms-check-label .user-privacy-link {
    line-height: 1.33;
    text-decoration-line: underline;
    color: var(--logo-color);
}

.custom-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color var(--transition), border var(--transition),
        fill var(--transition);
}

.modal-check:checked+.terms-check-label .custom-checkbox {
    background-color: var(--button-color);
    border: none;
    fill: var(--bg-color-one);
}

.modal-submit-btn {
    display: block;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin: 0 auto;
    border: none;
    color: var(--body-fon);
    background: var(--logo-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color var(--transition);
}

.modal-submit-btn:hover,
.modal-submit-btn:focus {
    background-color: var(--button-color);
}



/* ---------------------------------PORTFOLIO------------------------------------- */

.pf-card-info {
    background: var(--bg-color_main);
    border: 1px solid var(--border-color);
    border-top: none;
    padding: 32px 16px;
}

.main-section {
    padding-top: 96px;
}

.button-list {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
    gap: 24px;
}

.button-item {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.04em;
    color:var(--logo-color);
    background:var(--footer-logo-color);
    list-style: none;
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    transition: border-color var(--transition), color var(--transition),
            background-color var(--transition), box-shadow var(--transition);
}
.button-item:hover,
.button-item:focus {
    color:var(--body-fon);
    background-color:var(--button-color);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
    
    
}

.apps-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color:var(--title-subtitle-color);
    margin-bottom: 8px;
}

.apps-text {
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color:var(--text-color);
}

.apps-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
    justify-content: center;
}

.apps-link {
    display: block;
    width: 100%;
    height: 100%;
    transition: box-shadow var(--transition);
}

.apps-link:hover,
.apps-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.image-link {
 text-decoration: none;
}

.apps-item {
    width: calc((100% - 48px) / 3);
}

.adress {
    font-style: normal;

}

.header-adress {
    list-style: none;
}

.pfo-item-pic {
    position: relative;
    overflow: hidden;
}

.pic-cover-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--footer-logo-color);
    padding: 40px 32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--logo-color);
    transform: translateY(100%);
    transition: transform var(--transition);
}

.apps-link:hover .pic-cover-text,
.apps-link:focus .pic-cover-text {
    transform: translateY(0);
}

/*  */
/* ==================TABLET VERSION==================== */
/* ------------------HEADER------------------------- */
@media screen and (min-width: 768px) {
    .container {
        max-width: 584px;
    }

    .section {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .header {
        padding: 16px 0;
    }

    .header-container {
        max-width: 766px;
        justify-content: space-between;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }

    .mobile-menu {
        display: none;
    }

    .header-menu {
        display: flex;
        gap: 40px;
    }

    .header-menu-link.active::after {
        content: '';
        width: 100%;
        height: 4px;
        color: var(--button-color);
        background-color: var(--button-color);
        position: absolute;
        left: 0;
        bottom: -3px;
        border-radius: 2px;
    }

    .header-logo {
        margin-right: 0;
    }

    .span {
        margin-right: 120px;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }

    .header-menu {
        display: flex;
    }

    .header-adress {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .adress {
        font-size: 12px;
        font-style: normal;
    }

    .header-menu-link {
        position: relative;
        text-decoration: none;
        color: var(--title-subtitle-color);
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
        transition: color var(--transition);
    }

    .header-adress-link {
        text-decoration: none;
        font-style: normal;
        color: var(--text-color);
        line-height: 1.17;
        letter-spacing: 0.02em;
        transition: color var(--transition);
    }

    .header-adress-link {
        font-size: 12px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.48px;
    }

    .header-adress-link:hover,
    .header-adress-link:focus {
        color: var(--button-color);
    }

    /* ----------------------MODAL-MOB------------------ */

    .modal {
        max-width: 408px;
        padding: 24px;
        padding-top: 72px;
    }


    /* ---------------------HERO------------------------ */

    .hero {
        background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url(../images/hero-background-tab.jpg);
    }

    @media (min-resolution: 192dpi) {
        .hero {
            background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
                url(../images/hero-background-tab@2x.jpg);
            }
        }
    .hero-container{
        gap: 36px;
    }

    .hero-title {
        font-size: 56px;
        line-height: 0.93;
        letter-spacing: 0.02em;
        max-width: 496px;
    }

    /* ----------------------SECTION 2----------------- */
    .quality-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }

    .quality-title {
        text-align: left;
        margin-bottom: 8px;
    }

    .quality-item {
        width: calc((100% - 24px) / 2);
    }

    .quality-item:not(:last-child) {
        margin-bottom: 0;
    }

    /* ---------------------SECTION 4 -------------------------- */

    .ourteam-list {
        /* width: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 24px;
        row-gap: 64px; */

        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
    }


    .ourteam-item {
        width: calc((100% - 24px) / 2);
        margin-bottom: 0;
        align-items: center;
    }

    /* --------------------SECTION 5 --------------------------- */

    .customers-container {
        
    }

    .customers-list {
        gap: 24px;
    }

    .customers-items {
        width: calc((100% - 48px) / 3);
    }

    /* ------------------------FOOTER---------------------------- */

    .footer-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
        padding: 0 108px;
    }

    .footer-logo-box {
        align-items: flex-start;
        margin: 0;
    }

    .footer-soc {
        align-items: flex-start;
        margin: 0;
    }

    .subscribe-container {
        align-items: flex-start;
    }

    .subscribe-form {
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 24px;
    }

    .subscribe-input {
        min-width: 264px;
    }
}

/* =======================DESKTOP VERSION=================== */
/* ------------------------HEADER--------------------------- */

@media screen and (min-width: 1158px){
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .header {
        padding: 24px 0;
    }

    .header-container {
        align-items: center;
        margin: 0 auto;
    }

    .span {
        margin-right: 76px;
    }

    .header-adress{
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .header-adress-link {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--text-color);  
    }

    /* ------------------------HERO-----------------------*/

    .hero {
        background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url(../images/people-office.jpg);
            padding: 188px 0;
            max-width: 1440px;
        }

    @media (min-resolution: 192dpi) {
        .hero {
            background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
                url(../images/hero-background@2x.jpg);
            }
        }

    .hero-container {
        gap: 48px;
    }

/* --------------------------SECTION 2----------------------- */

.quality-container {
    /* padding: 120px 0; */
}

.quality-list {
    flex-wrap: nowrap;
}

.quality-item {
    width: calc((100% - 72px) / 4);
}

.quality-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: var(--footer-logo-color);
    padding: 24px 100px;
    margin-bottom: 8px;
    border-radius: 4px;
}

.quality-title {
    font-size: 20px;
    text-align: left;
    font-weight: 500;
    letter-spacing: 0.025em;
}

.quality-text {
    font-weight: 400;
}

/* --------------------------SECTION 3------------------------ */

.what-doing-section {
    display: block;
    padding-top: 0;
    padding-bottom: 120px;
}

.what-doing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.what-doing-list {
    display: flex;
    gap: 24px;
}

.what-doing-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--title-subtitle-color);
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

/* ---------------------SECTION 4---------------------- */

.ourteam-list {
    flex-wrap: nowrap;
}

/* -----------------------CUSTOMERS-------------------- */

.customers-items {
    width: calc((100% - 120px) / 6);
}

/* ----------------------FOOTER--------------------------- */

.footer {
    padding: 120px 0;
}

.footer-container {
    flex-wrap: nowrap;
    gap: 0;
    align-items: center;
    justify-content: center;
}

.footer-logo-box {
    align-items: flex-start;
    margin-right: 120px;
}

.footer-soc {
    margin-right: auto;
}

}